<h4>Replies</h4>

{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasReplies" 0 }}

{{ range $comments }}
  {{ if eq .Name $.entryId_parent }}
    {{ $.Scratch.Add "hasReplies" 1 }}
    {{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
      {{ if .reply_to }}
        {{ printf "%#v" . }}
        <div class="post-comment">
          <div class="post-comment-header">
            <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
            <p class="post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</p>
          </div>
          {{ .body | markdownify }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}


{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>Nothing yet.</p>
{{ end }}